@import url('https://fonts.googleapis.com/css2?family=DotGothic16&display=swap');

/* to delete the default margin and padding */
body {
  margin: 0;
  font-family: 'DotGothic16', sans-serif;
}

/**/
/* App.js */
/**/
.background {
  display: grid;
  overflow: scroll;
  height: 100vh;
  width: 100vw;
  background-color: #343737;
  padding: 200px;
  box-sizing: border-box;
}

.square-zone {
  display: grid;
  grid-template-columns: repeat(50, 80px); 
  grid-template-rows: repeat(50, 80px); 
  gap: 8px;
}

.square-zone-right {
  width: 200px;
}

.square {
  background-color: #554C4C;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.coordinates {
  color: white;
  font-size: 11px;
  margin-top: 3px;
}

.wallet-area {
  position: absolute;
  top: 20px;
  right: 10px;
  z-index: 999; /* 追加 */
}